@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 레이아웃 */

#header {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #c6c6c6;
}

.small_container {
	min-width: 1250px;
}

.container {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0);
}

.row {
	padding: 0 24px;
}

.header {
	
}

.header h1 {
	float: left;
}

.header h1 em {
	padding: 15px 8px 5px 0;
	display: inline-block;
}

.header h1 em img {
	width: 155px;
}

.header h1 strong {
	display: block;
	position: absolute;
	left: 194px;
	top: 23px;
}

.header h1 strong img {
	width: 126px;
}

.header .nav {
	float: right;
}

.header .nav ul {
	border-left: 1px solid #c6c6c6
}

.header .nav ul li {
	float: left;
	width: 103px;
	text-align: center;
	border-right: 1px solid #c6c6c6;
}

.header .nav ul li a {
	display: inline-block;
	padding: 19px 10px;
	font-size: 17px;
	font-weight: 700;
	color: #444;
}

/* navbar */
#navbar-2 .util-list li a {
	color: black;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

#navbar-top .navbar-nav .nav-link {
	color: black;
    font-size: 13px;
    float: right;
    margin-right: 10px;
}

#navbarNav .navbar-nav .nav-link {
	font-family: Noto Sans KR;
	font-weight: bold;
	color: black;
    font-size: 20px;
    margin-left: 35px;
    margin-right: 35px;
} 

.navbar-light input {
    position: relative;
    height: 44px;
    padding: 15px 72px 15px 9px;
    border: none;
    border-radius: inherit;
    border-bottom: 2px solid #000;
    font-size: 14px;
}

a {
	word-break: keep-all;
}