@charset "UTF-8";

.table {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 1rem 0;
}

.table.wide {
	width: 100%;
}

.table td, .table th {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 0.6rem 1.2rem;
}

.table.vertical-hidden,
.table.vertical-hidden td,
.table.vertical-hidden th {
	border-left-style: hidden;
	border-right-style: hidden;
}

.table .border-hidden-right {
	border-right-style: hidden;
	border-top-style: hidden;
	border-bottom-style: hidden;
}

.table.hover tbody tr:hover,
.table.hover tr:hover a {
	background-color: #EAF6F6;
	color: #66BFBF;
	cursor: pointer;
}

.table a {
	text-decoration: none;
	color: black;
}

.table .col-60 {
	width: 60px;
}

.table .col-120 {
	width: 120px;
}

.table .col-180 {
	width: 180px;
}

.table .col-240 {
	width: 240px;
}

.table .col-300 {
	width: 300px;
}

.table .col-360 {
	width: 360px;
}

.table .col-420 {
	width: 420px;
}

.table .col-480 {
	width: 480px;
}

.table .col-auto {
	width: auto;
} 