/* 로그인메뉴 */

#header {
  background: #ffffff;
}

.header-inner {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.user-menu {
  float: right;
  padding: 10px 0;
  margin-top: 20px;
}

.user-menu li {
  float: left;
}

.user-menu li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #aaa;
  margin: 0 10px;
}

.user-menu li:last-child::after {
  width: 0;
}

.user-menu li a {
  color: #000000;
}

/* 대메뉴 */
.header-logo {
  float: left;
}

#gnb {
  float: left;
  margin-left: 300px;
  margin-top: 25px;
}

.nav {
  overflow: hidden;
}

.nav li {
  float: left;
  margin-right: 100px;
}

.nav li:last-child {
  margin-right: 0px;
}

.nav li a {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
