<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="lv1.lv2.lv3.screen.model.ScreenDTO" alias="screenDto"/>
		<typeAlias type="lv1.lv2.lv3.movie.model.MovieDTO" alias="movieDto"/>
		<typeAlias type="lv1.lv2.lv3.reserve.model.ReserveDTO" alias="reserveDto"/>
		<typeAlias type="lv1.lv2.lv3.reserve.model.ScheduleDTO" alias="scheduleDto"/>
		<typeAlias type="lv1.lv2.lv3.reserve.vo.ScheduleVO" alias="scheduleVo"/>
	</typeAliases>
</configuration>